@font-face {font-family: "human";
            src: url("../fuentes/Human Nature - Demo.ttf")
            format("truetype");
            }
@import url('https://fonts.googleapis.com/css2?family=Halant&display=swap');

body {background-color:white;}

#encabezado {background-color: red;
             color:white;
             text-align:center;
             font-size:4rem;
             font-family: "human";
             }

.cannolimg {align: center;
            margin-left: 25%;
            width: 65%;
            }
.cannoli:hover {width: 80%;
                opacity: 60%;
                }

.subtitulo {font-family: sans-serif;
            background-color: red;
            color: white;
            text-align: center;
            clear: both;}

.parrafo {font-size: 0.9rem;
          font-family: 'Halant', serif;
          text-align: center;
          margin-left: 1%;
          margin-right: 1%;}

.parrafo2 {font-size:0.9rem;
           font-family:sans-serif;
           margin-left: 0,5%;
           margin-right: 0,5%;}

.formulario {font-size:0.7rem;
             font-family:sans-serif;
             margin-left: 0,5%;
             margin-right: 0,5%;}

.boton {background-color: green;
        width: 10%;
        }

.boton:hover {background-color: red;}

.gmail {width: 4%;
        float: left;
        margin-right: 2%;
        }

.gmail:hover {width: 6%;}

.lugar {width: 4%;
        float: left;
        margin-right: 2%;
        }

.lugar:hover {width: 6%;}

.telefono {width: 4%;
           float: left;
           margin-right: 2%;
           }

.telefono:hover {width: 6%;}

.acerca {float: left;
         width: 30%;}

.nosotros {font-family: sans-serif;
           font-size: 0.9rem;
           margin-top: 2%;}

.nosotros:hover {font-size: 1rem;
                 color: green;}

.somos {font-family: sans-serif;
        font-size: 0.9rem;}

.redessociales {float: left;
                width: 30%;
                margin-left: 2%;
                margin-right: 2%;}

.red {font-family: sans-serif;
      font-size: 0.9rem;
      margin-top: 2%;}

.png {width: 10%;}

.png:hover {width: 15%;
            background-color: green;}

.ubicacion {font-family: sans-serif;
            font-size: 0.9rem;
            margin-top: 2%;}

.mapa {float: left;
       width: 35%;
       }

h4 {font-family: sans-serif;
    font-size: 0.9rem;
    }

nav {color: green;
     text-align: center;
     font-family: verdana;
     font-size: 1rem;
     box-sizing: border-box;}

nav a:hover {color: green;
             font-family: sans-serif;
             font-size: 1.5rem;}

nav a:visited {color: red;}

nav::before {content: "<RecetasSicilianas.com>";}

header {clear:both;
        box-sizing: border-box;}

section {float: left;
         width: 50%;
         margin-bottom: 2%;
         box-sizing: border-box;}

aside {float: left;
       margin-top: -4%;
       margin-left: 5%;
       box-sizing: border-box;}

footer {background-color: red;
        clear: both;
        padding-top: 1%;
        padding-left: 2%;
        padding-bottom: 1%;
        height: 40vh;
        box-sizing: border-box;
        }
